* {
  box-sizing: border-box;
}
.App {
  width:100vw;
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  background-color: green;
  width: 800px;
  height: 800px;
  
  /* box-shadow:10px 10px 5px grey; */
}

.board-outer{
  width:800px;
  height: 800px;
  background-color: rgb(68, 55, 55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:5px solid black;
  border-radius: 25px;
}
.row {
  display:flex;

}
.cell{
  height: 100px;
  width: 100px;
  border:1px solid black;
  display:flex;
  justify-content: center;
  align-items: center;

}

.whiteDisc{
  width:80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  
}

.blackDisc{
  width:80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  
}

.scoreBoard {
  background-color: white;
  border:2px solid black;
  padding:1rem;
  margin: 1rem;
  width: 400px;
  height: 600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}